
.subheader {
  display: flex;
  justify-content: space-between;
}

.filters p {
  font-weight: bold;
  margin-block-end: 8px;
}

.filter-box {
  border: solid 1px lightgray;
  padding: 12px;
}

.filter-box div {
  padding-bottom: 10px;
}

.quality-score {
  display: flex;
}

.qs-title {
  text-transform: uppercase;
  font-size: 14pt;
  margin-right: 30px;
}

.blueBox {
  height: 8px;
  width: 8px;
  background-color: blue;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 3px;
}

.greyBox {
  height: 8px;
  width: 8px;
  background-color: grey;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 3px;
}

.btn {
  background-color: steelblue;
  color: white;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
  padding: 5px;
  border-radius: 2px;
}