
.stats-layout {
  display: flex;
  justify-content: space-between;
}

.donut-list {
  display: flex;
  flex-wrap: wrap;
}

.gbox {
  border: 1px solid lightgray;
  padding: 15px;
  margin: 12px 24px 0px 0px;
}