* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  grid-template-rows: 8vh 90vh;
  gap: 0px 0px;
  grid-template-areas:
    "Sidebar Navbar Navbar Navbar"
    "Sidebar Stats Stats Stats";
}

.Sidebar { 
  grid-area: Sidebar; 
  background-color: darkslateblue;
  color: white;
  height: 100vh;
}
.Navbar { 
  grid-area: Navbar; 
  padding: 10px;
  background-color: darkblue;
  color: white;
}
.Header { 
  grid-area: Header; 
}
.Stats { 
  grid-area: Stats; 
}
