
.layout {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "Sidebar Navbar Navbar Navbar Navbar Navbar Navbar Navbar"
    "Sidebar Header Header Header Header Header Header Header"
    "Sidebar Stats Stats Stats Stats Stats Stats Stats"
    "Sidebar Stats Stats Stats Stats Stats Stats Stats"
    "Sidebar Stats Stats Stats Stats Stats Stats Stats";
}

.Sidebar { 
  grid-area: Sidebar; 
}
.Navbar { 
  grid-area: Navbar; 
}
.Header { 
  grid-area: Header; 
}
.Stats { 
  grid-area: Stats; 
}
